[Desktop Entry]
Type=Application
TryExec=flare
Exec=flare
Icon=flare
Terminal=false
Categories=System;TerminalEmulator;

Name=Flare
GenericName=Terminal
Comment=A fast, aesthetic, cross-platform OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Flare
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=flare
